    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        margin: 2%;
    }
    
    .container {
        width: 80%;
        min-height: 550px;
        display: flex;
        margin: 0 auto;
        padding-top: 2rem;
        background: rgb(237, 60, 96);
    }
    
    .left {
        width: 50%;
        padding: 1rem;
        margin: 1rem;
    }
    
    p {
        font-size: 12px;
        text-align: center;
        color: grey;
    }
    
    a {
        text-decoration: none;
        color: rgb(219, 55, 82);
        font-weight: 600;
    }
    
    h2 {
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-bottom: 1rem;
        background-color: rgb(107, 107, 190);
        padding: 1rem;
        width: 80%;
        border-radius: 0.8rem;
        /* margin-right: 0; */
    }
    
    span {
        color: rgba(255, 255, 255, 0.657);
    }
    
    h1 {
        padding-top: 5rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 1.5rem;
        color: #fff;
    }
    
    .text {
        color: #fff;
    }
    
    .wrapper {
        width: 50%;
        padding: 1rem;
    }
    
    .form {
        width: 80%;
        margin-top: 1rem;
        background-color: #fff;
        height: 80%;
        padding: 0.5rem;
        border-radius: 0.8rem;
        /* margin-right: 0; */
    }
    
    .form-input {
        justify-items: center;
        align-items: center;
        display: flex;
    }
    
    input {
        width: 90%;
        height: 40%;
        margin: 1rem;
        border-radius: 0.3rem;
        border: 1px solid grey;
        padding: 0.5rem;
    }
    
    .btn {
        width: 90%;
        height: 12%;
        margin: 1rem;
        border-radius: 0.3rem;
        border: 1px solid grey;
        padding: 0.5rem;
        color: #fff;
        background-color: rgb(79, 148, 105);
        z-index: inherit;
        font-weight: 600;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: grey;
        border: none;
    }
    
    @media screen and (min-width: 600px) {
        .container {
            width: 80%;
        }
    }